<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xthml"
		xmlns:th="http://www.thymeleaf.org/">
	<head>
		<title>Contacts Project</title>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/fontawesome/css/all.css">
		<link rel="stylesheet" href="/projeto/css/projeto.css">
	</head>
	<body style="margin: 2px; font-size: 14px;">
		<h3>Contacts</h3>
			<p>
				<a href="/contacts/add"><button type="button" class="btn btn-outline-primary">Add</button></a>			
			</p>
		<input class="form-control" id="myFilter" type="text" placeholder="Search ..."><br>
		
		<div class="table-responsive">
			<table class="table table-striped table-sm" id="myTable">
				<thead>
					<tr>
						<th>Name</th>
						<th style="text-align:center;">ID</th>
						<th style="text-align:center;">Position</th>
						<th style="text-align:center;">Contact</th>		
						<th style="text-align:center;">Email</th>		
						<th style="text-align:center;">Department</th>
						<th style="text-align:center;">Unit</th>
						<th style="text-align:center;">Observation</th>
						<th style="text-align:center;">Edit</th>
						<th style="text-align:center;">Delete</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr th:each="contacts : ${contacts}">
						<td th:text="${contacts.name}"></td>
						<td th:text="${contacts.id_personal}"></td>
						<td th:text="${contacts.position}" style="text-align:center;"></td>
						<td th:text="${contacts.phone}" style="text-align:center;"></td>
						<td th:text="${contacts.email}" style="text-align:center;"></td>
						<td th:text="${contacts.department}" style="text-align:center;"></td>		
						<td th:text="${contacts.unit}" style="text-align:center;"></td>
						<td th:text="${contacts.observation}" style="text-align:center;"></td>
						<td style="text-align:center;"><a th:href="@{'/contacts/edit/' + ${contacts.id}}"><i class="fa fa-edit hoverable" style="font-size:24px;color:blue"></i></a></td>
						<td style="text-align:center;"><a th:href="@{'/contacts/delete/' + ${contacts.id}}"><i class="fa fa-trash hoverable" style="font-size:24px;color:blue" onclick="return confirm('Are you sure to delete this register?'); return false;"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="/jquery/js/jquery-3.3.1.min.js"></script>
		<script src="/projeto/js/projeto.js"></script>
	</body>
</html>