<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xthml"
		xmlns:th="http://www.thymeleaf.org/">
	<head>
		<title>Unidades Internacionais</title>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/fontawesome/css/all.css">
		<script src="/jquery/js/jquery-3.3.1.min.js"></script>
		<script src="/projeto/js/projeto.js"></script>
	</head>
	<body>
		<div class="container">
			<p>
				<h3>Contacts - Add</h3>
			</p>
			<form method="post">
				<div class="form-group">
					<label for="contatos">Name:</label>
					<input type="text" class="form-control" name="name" placeholder="Name ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
					<label for="contatos">ID:</label>
					<input type="text" class="form-control" name="id_personal" placeholder="Personal ID ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
					<label for="contatos">Phone:</label>
					<input type="text" class="form-control" name="phone" placeholder="Phone ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
					<label for="contatos">Email:</label>
					<input type="text" class="form-control" name="email" placeholder="Email ..." style="text-transform:lowercase"  onBlur="this.value = this.value.toLowerCase();"/>
					<label for="contatos">Position:</label>
					<input type="text" class="form-control" name="position" placeholder="Position ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
					<label for="contatos">Department:</label>
					<input type="text" class="form-control" name="department" placeholder="Department ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
					<label for="contatos">Unit:</label>
					<input type="text" class="form-control" name="unit" placeholder="Unit ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
					<label for="contatos">Observation:</label>
					<input type="text" class="form-control" name="observation" placeholder="Observation ..." style="text-transform:uppercase"  onBlur="this.value = this.value.toUpperCase();"/>
				</div>
				<a href="/" class="btn btn-primary">Back</a>
				<button type="submit" class="btn btn-primary" style="float:right;">Save</button>
			</form>
		</div>
		<script src="/jquery/jquery-3.3.1.slim.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>